<script>
  import { onMount } from "svelte";
  import { decode } from "jsonwebtoken";
  import { play, dilemma, time, received, user } from "./store.js";
  import Footer from "./components/Footer.svelte";
  import Header from "./components/Header.svelte";
  import Stage from "./components/Stage.svelte";
  let twitch = window.Twitch ? window.Twitch.ext : null;
  if (!twitch) console.error("No twitch client found.");

  onMount(() => {
    twitch.onAuthorized(auth => {
      try {
        user.set(decode(auth.token));
      } catch (e) {
        console.error(`Unable to decode jwt: ${e}`);
      }
    });
  });
</script>

<style>
  .container {
    padding: 50px 0 50px 0;
    min-height: calc(100% - 100px);
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
  }

  .stage-container {
    flex: 1;
  }
</style>

{#if $play}
  <div class="container">
    <Header question={$dilemma.question} time={$time} received={$received} />
    <div class="stage-container">
      <Stage />
    </div>
    <Footer />
  </div>
{/if}
