<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body></body>
</html>
