<script>
  import { dilemma, user } from "../store";
  import { db } from "../firebase";

  const handleClick = position => {
    const id = `${$user.opaque_user_id}_${$dilemma.id}`;
    db.collection("stances")
      .doc(id)
      .set({
        dilemmaId: $dilemma.id,
        positionId: position.id
      })
      .then(function() {})
      .catch(function(error) {
        console.error("Error writing document: ", error);
      });
  };
</script>

<style>
  .footer {
    display: flex;
  }

  .rather-option {
    flex: 1;
    text-align: center;
  }

  button {
    font-family: helvetica;
    font-size: 15px;
    color: #ffffff;
    background-color: #772ce8;
    border-radius: 20px;
    padding: 8px 15px;
    display: inline-block;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #5c03e2;
  }
</style>

<div class="footer">
  <div class="rather-option">
    <button on:click={() => handleClick($dilemma.leftPosition)}>
      {!!$dilemma.leftPosition ? $dilemma.leftPosition.text : ''}
    </button>
  </div>
  <div class="rather-option">
    <button on:click={() => handleClick($dilemma.rightPosition)}>
      {!!$dilemma.rightPosition ? $dilemma.rightPosition.text : ''}
    </button>
  </div>
</div>
