<script>
  export let question;
  export let time;
  export let received;
  import { onMount } from "svelte";
  let currentTime = new Date();

  onMount(() => {
    const interval = setInterval(() => {
      currentTime = new Date();
    }, 1000);

    return () => {
      clearInterval(interval);
    };
  });

  $: timeRemaining = time - Math.round((currentTime - received) / 1000);
</script>

<style>
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .question {
    font-family: helvetica;
    color: #ffffff;
    background-color: #772ce8;
    border-radius: 20px;
    padding: 8px 15px;
    display: inline-block;
  }

  .timer {
    border-radius: 0 0 20px 20px;
    color: #ffffff;
    background-color: #772ce8;
    display: inline-block;
    padding: 0 15px 8px 15px;
    font-family: helvetica;
    font-size: 25px;
    width: 1em;
  }
</style>

<div class="header">
  <span class="question">{question}</span>
  <span class="timer">{timeRemaining}</span>
</div>
