<script>
  import { dilemma } from "../store.js";
  import { onMount, afterUpdate } from "svelte";
  import * as d3 from "d3";
  import { db } from "../firebase";

  let svg;
  let bounds;
  let radius;
  let nodes; // the stance representations
  let nodesContainer; // selection of all nodes
  let simulation;
  let stances = [];
  let unsubscribe;

  onMount(() => {
    svg = d3.select("body").select("svg"); //rm
    bounds = svg.node().getBoundingClientRect();
    radius = 8;
    nodes = stances; //initialize the nodes as the mounted stances
    nodesContainer = svg
      .append("g")
      .attr("class", "nodes-container")
      .append("g") //rm
      .selectAll(".node");
    simulation = d3
      .forceSimulation(nodes)
      .velocityDecay(0.5)
      .force("x", d3.forceX().x(computeX))
      .force("y", d3.forceY().y(0.5 * bounds.height))
      .force("collision", d3.forceCollide().radius(radius))
      .on("tick", () =>
        nodesContainer.attr("cx", d => d.x).attr("cy", d => d.y)
      );

    restartSimulation();
  });

  afterUpdate(() => {
    nodes = []; // fresh set of nodes
    if (!!unsubscribe) {
      unsubscribe(); // kill the previous listener
    }
    unsubscribe = db
      .collection("stances")
      .where("dilemmaId", "==", $dilemma.id)
      .onSnapshot(snapshot => {
        snapshot.docChanges().forEach(change => {
          if (change.type === "added") {
            nodes.push({ id: change.doc.id, ...change.doc.data() });
          }
          if (change.type === "modified") {
            const index = nodes.findIndex(node => node.id === change.doc.id);
            nodes[index] = Object.assign(nodes[index], {
              id: change.doc.id,
              ...change.doc.data()
            });
          }
        });
        restartSimulation();
      });
  });

  const restartSimulation = () => {
    // JOIN new data with old elements.
    nodesContainer = nodesContainer.data(nodes, d => d.username);

    // EXIT old elements not present in new data.
    nodesContainer.exit().remove();

    // UPDATE old elements present in new data.
    // node.attr("fill", (d: any) => d.color) // IF WE WANT DYNAMIC COLOR

    // ENTER new elements present in new data.
    nodesContainer = nodesContainer
      .enter()
      .append("circle")
      .attr("fill", "#fff")
      .attr("class", "node")
      // .attr("fill", (d: any) => d.color) // IF WE WANT DYNAMIC COLOR
      .attr("r", radius)
      //   .on("mouseover", handleMouseOver())
      //   .on("mouseout", handleMouseOut())
      .merge(nodesContainer);

    // Update and restart the simulation.
    simulation.nodes(nodes);
    simulation.alpha(1).restart();
  };

  // Computes the x center of a given stance
  const computeX = node => {
    switch (node.positionId) {
      case $dilemma.leftPosition.id:
        return 0.2 * bounds.width;
        break;
      case $dilemma.rightPosition.id:
        return 0.8 * bounds.width;
        break;
      default:
        return 0.5 * bounds.width;
    }
  };
</script>

<style>
  .stage {
    width: 100%;
    height: 100%;
  }
</style>

<svg class="stage" />
