<script>
  import Toolbar from "./components/Toolbar";
  import Dilemma from "./components/Dilemma";
  import AddDilemma from "./components/AddDilemma";
  import { dilemmas } from "./store";
</script>

<style>
  .container {
    color: #000;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
</style>

<div class="container">
  <Toolbar />
  {#each $dilemmas.values as dilemma}
    <Dilemma {dilemma} />
  {/each}
  <AddDilemma />
</div>
