<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js"></script>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <h1>Would you Rather Extension</h1>
    <h2>Getting Started</h2>
    <p>
      This extension needs no configuration. Simply enable the extension and watch as random
      <a href="https://en.wikipedia.org/wiki/Would_you_rather">"Would you Rather"</a> questions be displayed for your users to interact
      with.
    </p>
    <h2>Using the extension</h2>
    <p>
      Once enabled, a video overlay should be seen over top of your stream. The overlay will go through a loading period where it attempts
      to sync all viewers up to a common "Would you Rather" question. Users must click the purple button of the option that they'd rather.
      Once they've done so, a small circle will congregate on the side of the screen for which they indicated their preference.
    </p>
    <p>
      Each question will last for 10 seconds, and audience members will cast their vote over the course of this time. The more popular
      option will amass more dots representing the voters.
    </p>
  </body>
</html>
