<script>
  import { play, dilemmas } from "../store.js";
</script>

<style>
  svg {
    cursor: pointer;
  }
</style>

{#if !$play}
  <div class="container">
    <svg
      on:click={dilemmas.add}
      fill="green"
      height="20pt"
      viewBox="0 0 480 480"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m352 232h-104v-104c0-4.417969-3.582031-8-8-8s-8 3.582031-8
        8v104h-104c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8h104v104c0 4.417969
        3.582031 8 8 8s8-3.582031 8-8v-104h104c4.417969 0 8-3.582031
        8-8s-3.582031-8-8-8zm0 0" />
      <path
        d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240
        240-107.453125
        240-240c-.148438-132.484375-107.515625-239.851562-240-240zm0
        464c-123.710938 0-224-100.289062-224-224s100.289062-224 224-224 224
        100.289062 224 224c-.140625 123.652344-100.347656 223.859375-224 224zm0
        0" />
    </svg>
  </div>
{/if}
