<script>
  import { play, dilemmas } from "../store.js";
  export let dilemma;
</script>

<style>
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .options {
    display: flex;
  }

  .options > .left {
    margin-right: 5px;
  }

  .options > .right {
    margin-left: 5px;
  }

  svg {
    cursor: pointer;
  }

  textarea {
    color: #666666;
    resize: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 25px;
    background-color: #e6e6e6;
    border: none;
    transition: all 0.3s;
    padding: 13px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    margin-top: 10px;
  }
</style>

<div class="container">
  {#if !$play}
    <svg
      on:click={dilemmas.remove(dilemma.id)}
      fill={'red'}
      height="20pt"
      viewBox="0 0 480 480"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="m352 232h-224c-4.417969 0-8 3.582031-8 8s3.582031 8 8 8h224c4.417969
        0 8-3.582031 8-8s-3.582031-8-8-8zm0 0" />
      <path
        d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240
        240-107.453125
        240-240c-.148438-132.484375-107.515625-239.851562-240-240zm0
        464c-123.710938 0-224-100.289062-224-224s100.289062-224 224-224 224
        100.289062 224 224c-.140625 123.652344-100.347656 223.859375-224 224zm0
        0" />
    </svg>
  {/if}
  <div class="form-container">
    <textarea
      disabled={$play}
      bind:value={dilemma.question}
      placeholder="Cats or Dogs?" />
    <div class="options">
      <textarea
        class="left"
        disabled={$play}
        bind:value={dilemma.leftPosition.text}
        placeholder="Cats" />
      <textarea
        class="right"
        disabled={$play}
        bind:value={dilemma.rightPosition.text}
        placeholder="Dogs" />
    </div>
  </div>
</div>
