<script>
  import { play, time, dilemmas, currentDilemma } from "../store.js";
  let twitch = window.Twitch ? window.Twitch.ext : null;
  if (!twitch) console.error("No twitch client found.");
  let interval;

  const broadcast = message => {
    twitch.send("broadcast", "application/json", {
      message
    });
  };

  const start = () => {
    play.set(true);
    broadcast({
      play: true,
      time: $time,
      dilemma: $currentDilemma
    });
    interval = setInterval(() => {
      dilemmas.next();
      broadcast({
        play: true,
        time: $time,
        dilemma: $currentDilemma
      });
    }, $time * 1000);
  };

  const stop = () => {
    clearInterval(interval);
    play.set(false);
    broadcast({
      play: false
    });
  };
</script>

<style>
  svg {
    cursor: pointer;
  }
</style>

{#if !$play}
  <svg
    on:click={start}
    height="100%"
    fill={'green'}
    viewBox="0 0 480 480"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240
      240-107.453125
      240-240c-.148438-132.484375-107.515625-239.851562-240-240zm0
      464c-123.710938 0-224-100.289062-224-224s100.289062-224 224-224 224
      100.289062 224 224c-.140625 123.652344-100.347656 223.859375-224 224zm0 0" />
    <path
      d="m197.039062
      129.792969c-2.394531-1.945313-5.691406-2.335938-8.476562-1.011719s-4.5625
      4.132812-4.5625 7.21875v208c0 3.085938 1.777344 5.894531 4.5625
      7.21875s6.082031.933594 8.476562-1.011719l128-104c1.871094-1.519531
      2.953126-3.796875
      2.953126-6.207031s-1.082032-4.6875-2.953126-6.207031zm2.960938
      197.40625v-174.398438l107.3125 87.199219zm0 0" />
  </svg>
{/if}

{#if $play}
  <svg
    on:click={stop}
    height="100%"
    fill={'red'}
    viewBox="0 0 480 480"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="m240 0c-132.546875 0-240 107.453125-240 240s107.453125 240 240 240
      240-107.453125
      240-240c-.148438-132.484375-107.515625-239.851562-240-240zm0
      464c-123.710938 0-224-100.289062-224-224s100.289062-224 224-224 224
      100.289062 224 224c-.140625 123.652344-100.347656 223.859375-224 224zm0 0" />
    <path
      d="m200 128c-4.417969 0-8 3.582031-8 8v208c0 4.417969 3.582031 8 8
      8s8-3.582031 8-8v-208c0-4.417969-3.582031-8-8-8zm0 0" />
    <path
      d="m280 128c-4.417969 0-8 3.582031-8 8v208c0 4.417969 3.582031 8 8
      8s8-3.582031 8-8v-208c0-4.417969-3.582031-8-8-8zm0 0" />
  </svg>
{/if}
