<script>
  import { time, play } from "../store.js";
</script>

<style>
  /* input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid #772ce8;
    transition: all 0.3s;
    padding: 13px;
    box-sizing: border-box;
    outline: 0;
  } */

  .container {
    background-color: #e6e6e6;
    border-radius: 25px;
    height: 100%;
    display: flex;
    align-items: center;
  }

  svg {
    padding: 0 5px;
  }

  input {
    border: none;
    color: #666666;
    font-size: 15px;
    background-color: transparent;
  }
</style>

<div class="container">
  <svg
    height="50%"
    fill="#666666"
    enable-background="new 0 0 443.294 443.294"
    viewBox="0 0 443.294 443.294"
    xmlns="http://www.w3.org/2000/svg">
    <path
      d="m221.647 0c-122.214 0-221.647 99.433-221.647 221.647s99.433 221.647
      221.647 221.647 221.647-99.433
      221.647-221.647-99.433-221.647-221.647-221.647zm0 415.588c-106.941
      0-193.941-87-193.941-193.941s87-193.941 193.941-193.941 193.941 87 193.941
      193.941-87 193.941-193.941 193.941z" />
    <path
      d="m235.5 83.118h-27.706v144.265l87.176 87.176
      19.589-19.589-79.059-79.059z" />
  </svg>
  <input disabled={$play} type="number" bind:value={$time} min="0" max="99" />
</div>
