<script>
  import Playback from "./Playback";
  import TimeInput from "./TimeInput";
</script>

<style>
  .container {
    color: #fff;
    display: flex;
    height: 40px;
    justify-content: space-between;
  }
</style>

<div class="container">
  <Playback />
  <TimeInput />
</div>
